<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-9">
          <h2>Enter your company name and we will look you up:</h2>

          <form ng-submit="submitCompanyName(companyName)">
            <div class="input-group company-info">
              <input type="text" class="form-control"  ng-model="companyName" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

      <div class="mt30 clearfix">
        <h2 class="mt30">Select the tools that you use...</h2>
        <table class="table vendors">
          <colgroup>
            <col style="width:15%"/>
            <col style="width:14%"/>
            <col style="width:14%"/>
            <col style="width:14%"/>
            <col style="width:14%"/>
            <col style="width:100px"/>
            <col style="width:100px"/>
          </colgroup>

          <tr ng-repeat="category in categories">
            <td>{{category.name}}</td>
            <td ng-repeat="a in range(MAX_COLUMNS) track by $index" class="vendor-row" ng-class="{selected: category.vendors[$index].selected}">
              <div ng-click="toggleVendor(category, category.vendors[$index])">
                <div ng-if="!category.vendors[$index].image" ng-bind="category.vendors[$index].name"></div>
                <img ng-if="category.vendors[$index].image" ng-src="{{category.vendors[$index].image}}" alt=""/>
              </div>
            </td>
            <td>
              <a ng-if="!other[$index]"
                 class="btn btn-default"
                 href
                 ng-click="other[$index] = !other[$index]">
                Other
              </a>

              <div ng-if="other[$index]">
                <form ng-submit="submitNewVendor(category, v[$index]);  other[$index] = false">
                  <input type="text" ng-model="v[$index]" />
                </form>
              </div>
            </td>
            <td><button type="button" class="btn btn-default" ng-click="selectNone(category)">None</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <button class="btn btn-default" ng-click="saveCompanyData()">Save</button>
</div>
<div class="report">
  <div class="container">
    <div class="row">
      <div class="pull-left report-title">My Report</div>
      <button class="pull-right btn btn-blue">Save Report</button>
      <button class="pull-right btn btn-grey">Send Report To...</button>
    </div>
    <div class="row">
      <div class="grade">
        <span class="align-super">Your Grade is</span>
        <span class="actual-grade">{{grade}}</span>
        <div class="grade-post-text" ng-if="grade == 'A-'">{{grade_A_minus_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'B+'">{{grade_B_plus_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'B'">{{grade_B_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'B-'">{{grade_B_minus_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'C+'">{{grade_C_plus_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'C'">{{grade_C_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'C-'">{{grade_C_minus_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'D'">{{grade_D_text}}</div>
        <div class="grade-post-text" ng-if="grade == 'F'">{{grade_F_text}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped">
          <colgroup>
            <col style="width:30%"/>
            <col style="width:20%"/>
            <col style="width:50%"/>
          </colgroup>
          <thead>
            <tr>
              <th class="table-name">Email</th>
              <th>Status</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tr ng-repeat="feature in features">
            <td>{{feature.name}}</td>
            <td><i ng-if="feature.selected == true" class="fa fa-check-circle"></i></td>
            <td ng-if="feature.selected == true">{{feature.pos}}</td>
            <td class="neg" ng-if="!feature.selected == true">{{feature.neg}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    &copy Bridg 2015
  </div>
</footer>
