<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container vendor-grid">
  <div class="row">
    <div class="col-lg-12">
      <h2>Select the tools that you use...</h2>

      <table class="table vendors">
        <colgroup>
          <col style="width:15%"/>
          <col style="width:14%"/>
          <col style="width:14%"/>
          <col style="width:14%"/>
          <col style="width:14%"/>
          <col style="width:50px"/>
          <col style="width:50px"/>
        </colgroup>
        <tr ng-repeat="category in categories">
          <td>{{category.name}}</td>
          <td ng-repeat="vendor in category.vendors" class="vendor-row" ng-class="{selected: vendor.selected}">
            <div ng-click="toggleVendor(category, vendor)">
              <span ng-if="!vendor.image" ng-bind="vendor.name"></span>
              <img ng-src="{{vendor.image}}" alt=""/>
            </div>
          </td>
          <td>
            <a ng-show="!other[$index]"
               class="btn btn-default"
               href
               ng-click="other[$index] = !other[$index]">
              Other
            </a>

            <div ng-show="other[$index]">
              <form ng-submit="submitNewVendor(category, v[$index]);  other[$index] = false">
                <input type="text" ng-model="v[$index]" />
              </form>
            </div>
          </td>
          <td><a class="btn btn-default" href  ng-click="selectNone(category)">None</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    &copy Bridg 2015
  </div>
</footer>
